# APPLICATION
APP_NAME=Example App
DEBUG=false

# SERVER
API_HOST=0.0.0.0
API_PORT=8000
API_HOST_PORT=8000
DEFAULT_LIMIT=10

# STORAGE
SESSION_DIR=var/session

# NAVIDROME
NAVIDROME_URL=http://localhost:4533
NAVIDROME_MUSIC_DIR=
